:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: only dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-active: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  color: rgba(255, 255, 255, 0.125);
  height: 1px;
}

textarea,
button,
select,
option,
select option,
input,
.input,
.button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.87);
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;

  font-weight: 500;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  &:active,
  &:focus {
    background-color: rgba(0, 0, 0, 0.15);
    outline: none;
    border: 2px solid rgba(255, 140, 0, 0.35);
    border-radius: 4px;
  }
  &:disabled {
    opacity: 0.4;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border: 2px solid transparent;
    }
  }
}

a.button {
  font-size: 0.8em;
  text-align: center;
}

.button,
.input,
button,
input,
select,
option,
textarea {
  &.danger {
    color: rgba(216, 75, 20, 0.87);
  }
  &.warn {
    color: rgba(218, 165, 32, 0.87);
  }
  &.info {
    color: rgba(100, 149, 237, 0.87);
  }
  &.success {
    color: rgba(154, 205, 50, 0.87);
  }
}

select {
  padding: 5px 6px;
  margin: 0;
  option {
    background-color: buttonface !important;
    font-size: 120%;
  }
}

fieldset {
  border: none;
}

ul li {
  list-style: none;
}

#app {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
}

.aside {
  width: 20%;
  background-color: rgba(255, 255, 255, 0.1);
}

.aside-mode {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    flex-grow: 1;
  }
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  .header {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .container {
    flex-grow: 1;
  }
}

.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    background-color: rgba(255, 255, 255, 0.05);
    height: 4em;

    textarea {
      flex-grow: 1;
    }

    button {
      width: auto;
      height: 100%;
    }
  }

  &-side {
    height: 4em;

    textarea {
      flex-grow: 1;
    }

    textarea,
    button {
      height: 100%;
    }
  }

  textarea {
    resize: none;
  }
}

.multi-select {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .select-container {
    height: 100%;
    .select-item {
      font-size: 80%;
    }
  }

  .select-side {
    display: flex;
  }
}

.select-container {
  display: flex;
  .select-item {
    padding: 0 5px;
    list-style: none;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &.ext:hover {
      color: inherit;
    }
    &:hover {
      color: crimson;
    }
  }
}

.card .select-item:hover {
  color: inherit;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
  overflow-y: scroll;

  .column {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.card {
  width: 100%;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;

  &.danger {
    box-shadow: 0 0 0 1px rgba(216, 75, 20, 0.87);
    border-color: rgba(216, 75, 20, 0.87);
  }

  &-description {
    font-size: 100%;
  }
  &-text {
    font-size: 100%;
    flex-grow: 1;
  }
  &-tags {
    font-size: 80%;
    justify-content: flex-end;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.aside {
  display: flex;
  flex-direction: column;
  &-block {
    &:first-child {
      flex-grow: 1;
    }
  }
}

.title {
  color: rgba(255, 255, 255, 0.65);
  font-size: 100%;
  font-weight: 400;
  padding: 5px 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  // background-color: rgba(36, 36, 36, 0.5);

  &-columns {
    display: flex;
    .column {
      display: flex;
      flex-direction: column;
    }
  }
}

.search-tags {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  .tag-item {
    text-decoration: underline;
  }
}

.width-auto {
  width: auto;
}

.row {
  flex-direction: row;
}
